form textarea {
    width: 100%;
    min-height: 140px;
    resize: none;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}

.container .content form textarea {
    margin-top: 8px;
}